
.form{
    margin-top: 100px;
    margin-bottom: 50px;
  }
  .input{
    position: relative;
    width: 400px;
    padding: 10px;
    border-radius: 15px;
    outline: none;
    top: -90px;
    background-image: linear-gradient(rgb(251, 220, 255), rgb(205, 247, 250));
  }
  .add-button{
    top: -93px;
    width: 100px;
    left: 10px;   
    background-image: linear-gradient(rgb(18, 255, 184), rgb(86, 188, 196));
    
  }


  
  
  .textTodo{
    position: relative;
    margin: 10px;
    top: -90px;
    border: 2px solid;  
    background-image: linear-gradient(rgb(251, 220, 255), rgb(205, 247, 250));
  }

  

  .amountTodo{
    position: relative;
    left: 1500px;
    top: -190px;
    margin: 10px;
    max-width: 20px;
    border:2px solid; 
    padding: 5px;
    background-color:lightgrey;
    background-image: linear-gradient(rgb(251, 220, 255), rgb(205, 247, 250));
  }

  .textTodoAmount{
    position: relative;
    left: 1300px;
    top: -148px;
    max-width: 200px;
    
  }


 

  .delete{
    position: relative;
    left: 20px;
    border: 2px solid;
  
  }


  .DeleteAll{
    position: relative;
    right: 200px;
    top:-200px;
    background-image: linear-gradient(rgb(255, 187, 167), rgb(255, 237, 187));
  }





 
  .alert{
    position: relative;
    top: -790px;
    left: 750px;
  }


  .Options{
    position: relative;
    left: -450px;
    top: -40px;
    max-width: 250px;
    background-image: linear-gradient(rgb(251, 220, 255), rgb(205, 247, 250));
  }

.alert-select{
  position: relative;
  top: -850px;
  left: 750px;
}


.testThing{
  position: relative;
  left: 300px;
 
}

.Edit{
  position: relative;
  left: 90px;
  top: 7px;
}

.textInput{
  position: relative;
  top: -30px;
}


.SelectError{
  position: relative;
  bottom: 785px;
  left: 300px;
}


.todos-container {
  display: flex;
  position: relative;
  justify-content: space-evenly;
  top: -160px;
  
  

  
 
  


  >div {
    display: flex;
    flex-direction: column;
    margin: 10px;
    flex-basis: 25%;
    
    
  }
}






.todo-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(rgb(251, 220, 255), rgb(205, 247, 250));
  word-wrap: break-word;
  
  

  >th {
    flex-basis: 25%;
    
    
    
    
  }

  >span {
    flex-basis: 5%;
  }

  >div{
    flex-basis: 60%;
    width: 100px;
     
    
     
    
  }

  >button {
    flex-basis: 10%;
    
    
  }

  .todo-name {
    
   
    

    &.checked {
      text-decoration: line-through;
    }

   .EditText:hover{
    background-color: rgb(255, 255, 255);
   }
  }

  

}

.High{
  border: 2px solid;
  background-image: linear-gradient(rgb(251, 220, 255), rgb(205, 247, 250));
  
}

.Medium{
    border: 2px solid; 
    background-image: linear-gradient(rgb(251, 220, 255), rgb(205, 247, 250));
}

.Low{
  border: 2px solid; 
  background-image: linear-gradient(rgb(251, 220, 255), rgb(205, 247, 250));
}

.OnStand{
  border: 2px solid; 
  background-image: linear-gradient(rgb(251, 220, 255), rgb(205, 247, 250));
}

.rating{
  position: relative;
  left: 330px;
  top: 46px;
}

.ShowSertainTodos{
  position: relative;
  left: 1460px;
  top:-95px ;
  width: 500px;
  height: 20px;
  
}

.HoverOptions:hover{
  background-image: linear-gradient(rgb(251, 220, 255), rgb(205, 247, 250));
}


.TimePicker{
  position: relative;
  width: 200px;
  left: 920px;
  top: -60px;
}


.catmascot{
  position: absolute;
  height: 190px;
  width:170px;
  right: 890px;
  top: 33px;
}


.Tips{
  position: absolute;
  border: 2px solid; 
  width: 200px;
  top: 60px;
  left: 210px;
  background-image: linear-gradient(rgb(251, 220, 255), rgb(205, 247, 250));
  word-wrap: break-word;
  border-radius: 25px;
}


.sleepycat{
  position: absolute;
  height: 600px;
  width: 800px;
  left: 560px;
  top: 380px;
}